.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Ladder-View {
    display:flex;
    min-height: 100vh;
    flex-wrap: nowrap;
    align-content:space-between;
    border-style: none;
    border-color: blue;
    border-width: 0.1em;
}

.Ladder-Container{
  width: 100%;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-radius: 0.3em;
  border-style: solid;
  border-width: 0.1em;
  border-color:dimgrey; 
  margin: 1em;
}

.Ladder-Title{
}

.Ladder-Heading-Container{
  font-weight: 600;
  display: flex; 
  flex-grow: 1; 
  justify-content: space-between;
  height: 2em;
} 

.Ladder_Row {
  display:inline;
  flex-grow: 1; 
  display: flex; 
  justify-content: space-between;
  height: 2em;
} 

.ladder_cell {
  padding: 0 0.3em;
  width: 1.5em;
  text-align: center;
}

.ladder_team_name{
  width: auto;
}

.ladder_cell.ladder_percentage {
  text-align: center;
  width: 40px;
}

.team_standing {
  display: flex; 
  width: 15%;
  text-align: left;
  justify-content: left;
  flex-grow: 1; 

} 

.Table-Content .rankChange{
  position: relative;
  width: 1.1em;
  top: -0.2em;
}

.ladder_change-in-rank{
  width: 1.1em;
  padding-right: 0.6em;
  text-align: center;
}

.ladder_cell.smallLogo  {
  height: 1em;
  width: 1em;
}

.Team-View {
    min-height: 90vh;
    margin-top: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    margin-left: 50px;
    display: flex;
    align-content: space-between;
    border-style: none;
    border-color: blue;
    border-width: 0.2em;

  }

.Team-View-Logo-Name-Container {
  width: 180px;
  border-style: none;
  border-color: blue;
  border-width: 0.1em;
  padding-top: 30px;
}
.Logo-large {
  width: 65%;
}


.Team-View-Details-Container {
  width: 450px;
  padding-left: 10px;
  padding-right: 20px;
  border-style: none;
  border-color: black;
  border-width: 0.1em;
  height: 92vh;
  overflow: auto;

}

.At-A-Glance {
  margin-block-start: 0.33em
}

.Team-Stats {
  width: 100%;
  text-align: center;
  justify-content: center;
  border-radius: 0.3em;
  border-style: solid;
  border-width: 0.1em;
  border-color:dimgrey; 
  box-shadow: rgb(38, 57, 76) 0px 20px 30px -10px;
  padding-top: 0.4em; 
  padding-bottom: 0.2em; 
}

h4 {
  margin-block-end: 0.33em;
  text-align: left;
  padding-left: 0.5em;
}

.Team-Stats-Block {
  height: 13vh min-content;
  padding-bottom: 0.3em;
  border: 0.1em;
  border-style: none;
  border-color: black; 
}

.Team-Stats-Row {
  display: flex; 
  text-align: center;
  justify-content: center;
  border: 0.1em;
  border-style: none;
  border-color:dimgrey; 
}

.team_stats_cell {
  width: 33%;
}

.Team-Stats-Headings{
  font-size: 0.8em;
  height: 50%;
}

.Team-Stats-Values {
  font-size: 1.0em;
  font-weight: 600; 
  height: 50%;
}
.Rank-Container{
  display:flex;
  justify-content:center;
  border: 0.1em;
  border-style: none;
  border-color:blue;
  height: 1.3em;

}
.team_stats_cell .rank{
  border: 0.1em;
  padding-bottom: -0.3em;
  height: 1.3em;
  border-style: none;
  border-color:blue;
}

.team_stats_cell .rankChange {
  width: 1.1em;
  padding-left: 0.2em;
  border: 0.1em;
  border-style: none;
  border-color:blue; 
  height: 1.3em;

}

.rankChange-Neutral{
  position: relative;
  left: 0.2em;
  border: 0.1em;
  border-style: none;
  border-color:blue; 
} 


.mediumLogo{
  height: 25px;
}


.Fixture-Container{
  margin-top: -1em;
}

.winner{
  font-weight: 600;
  color: white;
  background-color:limegreen;
  margin-left: 5px;
  margin-right: 5px;
}
.losser {
  font-weight: 600;  
}
.teamName {
  font-weight: 600;
}

.score{
  font-size: 1.0em;
  font-weight: 600; 
}

.goals{
  font-size: 0.75em;
}

.divider{
  font-size: 0.8em;
  width: 20px;
  padding-left: 0.2em;
  padding-right: 0.2em;
  padding-top: 0.5em;
}


.tribute{
  font-size: 0.8em;
}

.result{
  padding-left: 10vw
}

.matchDate{
  margin-top: 0.8em;
  margin-bottom: 0.53m;
  font-weight: 400; 
}

.game-container{
 margin-top: 0.3em; 
 border-radius: 0.3em;
 border: 0.1em;
 border-style: solid;
 border-color:dimgrey; 
 box-shadow: rgb(38, 57, 76) 0px 20px 30px -10px;
}
.round-game-date-container {
  font-size: 0.8em;
  display: flex;
  justify-content: space-between;
  border: 0.1em;
  border-style: none;
  border-color: black; 
}
.round-name{
  padding-left: 0.5em;
  text-align: left;
}

.game-date{
  padding-right: 0.5em;
  text-align:right;
}

.game-teams-results-container{
  padding-left: 20px;
  display: flex;
  justify-content:center;
  border: 0.1em;
  border-style: none;
  border-color: black;
  margin-bottom: 0.2em; 
}

.game-team-name-container{
  width: 125px;
  display: block;
  align-items: center;
  font-size: 0.8em;
  border: 0.1em;
  border-style: none;
  border-color: black; 

}

.match-result-container {
  display: flex;
  justify-content: space-between;
  border: 2px;
  padding-top: 0.2em;
  border-style: none;
  border-color: dimgrey; 
}

.team-score-container{
  width: 30px;
  border: 2px;
  border-style: none;
  border-color: dimgrey;
}

.Show-More-Less-Btn{
  margin-top: 0.5em;
  text-align: right;
  padding-right: 0.5em;
}

