.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Ladder-View {
    display:flex;
    min-height: 100vh;
    flex-wrap: nowrap;
    align-content:space-between;
}

.Team-View {
  display:flex;
  min-height: 80vh;
  flex-wrap: wrap;
  align-content: space-between;
  padding-left: 30px;
}


.ladder_cell.smallLogo  {
  height: 1em;
  width: 1em;
}
.ladder{
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}
.ladder_headings{
  font-weight: 600;
  display:inline;
  flex-grow: 1; 
  display: flex; 
  justify-content: space-between;
  height: 2em;
} 

.ladder_position {
  display:inline;
  flex-grow: 1; 
  display: flex; 
  justify-content: space-between;
  height: 2em;
} 

.ladder_cell {
  padding: 0 0.3em;
  width: 1.5em;
  text-align: center;
}


.ladder_team_name{
  width: auto;
}

.ladder_cell .ladder_percentage {
  text-align: rights;
}

.team_standing {
  display:inline;
  width: 15%;
  text-align: left;
  justify-content: left;
  flex-grow: 1; 
  display: flex; 
} 

.Table-Content .rankChange{
  position: relative;
  width: 1.1em;
  top: -0.2em;
}

.ladder_change-in-rank{
  width: 1.1em;
  padding-right: 0.6em;
  text-align: center;
}

.Team-View {
    width: 100%;
    display: flex;
}

.Team-View-Logo-Name-Container {
  width: 170px;
  padding-left: 30px;
  padding-right: 20px;
}
.Logo-large {
  width: 65%;
}


.Team-View-Details-Container {
  width: 450px;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 20px;

}

.Team-Stats {
  width: 100%;
  text-align: center;
  justify-content: center;

}

.Team-Stats-Block {
  height: 13vh min-content;
  padding-bottom: 1.5vh;
}

.Team-Stats-Block.Team-Stats-1 {
  padding-bottom: 0.5vh;

}

.Team-Stats-Row {
  display: flex; 
  text-align: center;
  justify-content: center;
}

.team_stats_cell {
  width: 33%;
}

.Team-Stats-Headings{
  font-weight: 600;
  height: 50%;
}

.Team-Stats-Values {
  height: 50%;
}


.team_stats_cell .rank{
  position: relative;
  top: -0.1em;
}

.team_stats_cell .rank{
  position: relative;
  top: -0.1em;
}

.team_stats_cell .rankChange {
  position: relative;
  width: 1.1em;
  left: 0.2em;
  top: 0.3em; 
}

.rankChange-Neutral{
  position: relative;
  left: 0.2em;
} 


.mediumLogo{
  height: 25px;
}



.winner{
  font-weight: 600;
}

.draw {
  font-weight: 400;
  color: #066631
}

.score{
  font-size: 1.0em;
  font-weight: 600; 
}

.goals{
  font-size: 0.75em;
}

.divider{
  padding-left: 0.2em;
  padding-right: 0.2em;
  font-size: 0.8em;
}


.tribute{
  font-size: 0.8em;
}

.result{
  padding-left: 10vw
}

.matchDate{
  margin-top: 0.8em;
  margin-bottom: 0.53m;
  font-weight: 400; 
}

.played_game{
  position: relative;
  top: -1em;
}

.unplayed_game{
  position: relative;
  top: -1em;
}
.game-container{
 padding-top: 0.3em; 
}
.round-game-date-container {
  font-size: 0.8em;
  display: flex;
  justify-content: space-between;

}
.round-name{
  text-align: left;
}

.game-date{
  text-align:right;
}

.game-teams-results-container{
  padding-left: 20px;
  display: flex;
  justify-content:center;

}

.game-team-name-container{
  width: 125px;
  display: block;
  align-items: center;
  font-size: 0.8em;
}

.divider {
  width: 20px;
  padding-top: 0.5em;
}
.match-result-container {
  display: flex;
  justify-content: space-between
}

.team-score-container{
  width: 30px;
}